{% extends 'base.html' %} {% block content %}{% load static %}
<section class="content">
  <div class="feed_header">
    <img src="/static/img/techis-logo.png" class="logo" />
    <h2>Edit</h2>
  </div>
  <section class="post_form">
    <form
      action="/edit/{{posts.id}}/"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <input
        type="text"
        name="name"
        placeholder="Name"
        value="{{posts.name}}"
        required
      /><br />
      <textarea name="body" placeholder="{{posts.body}}" required></textarea>
      <br />
      <input id="uploadfile" type="file" name="image" />
      {% if posts.image.url %}
      <img class="Image" src="{{posts.image.url}}" />
      <!-- style="width: 370px; height: 370px" -->

      {% endif %}
      <br />
      <input id="fumi" type="submit" value="Cancel" />
      <input id="fumi" type="submit" value="Update" />
    </form>
  </section>
</section>
{% endblock%}
